.chatScreen > p {
  text-align: center;
}

.chatScreen__timeStamp {
  color: lightgray;
  padding: 20px;
}

.chatScreen__messages {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.chatScreen__text {
  background: lightgray;
  margin-left: 10px;
  padding: 7px;
  border-radius: 15px;
}

.chatScreen__textUser {
  background: #29b3cd;
  margin-left: auto;
  padding: 7px;
  border-radius: 15px;
  color: white;
}

.chatScreen__input {
  display: flex;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid lightgray;
}

.chatScreen_inputField {
  flex: 1;
  padding: 10px;
  border: none;
}

.chatScreeen__inputButton {
  border: none;
  margin-right: 20px;
  background: white;
  font-weight: bolder;
  color: #fe3d71;
}
